

#maincontainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 140, 126, 0.7);
  height: 100vh;
  align-items: center;
}

#users {
  text-align: center;
  width: 80%;
}

#users > input {
  text-align: center;
  font-size: 18px;
  border-radius: 12px;
  width: 200px;
  height: 30px;
  margin: 10px;
}

#users > button {
  height: 30px;
  font-size: 16px;
}

#messages {
  display: flex;
  text-align: center;
  
}

dt {
  background-image: url("/src/components/Images/fondo.jpg");
  display: flex;
  flex-direction: column;
  list-style: none;
}

dl {
  border-radius: 15px;
  background-color: rgb(37, 211, 102);
  margin: 10px;
  padding: 2px;
}


#inputmessage {
  height: 30px;
  width: 400px;
}

#update {
  height: 35px;
  margin: 3px;
}